<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Botones Editar</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-5 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/}" class="btn btn-light d-grid gap-2 col-6 mx-auto d-md-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success d-grid gap-2 col-6 mx-auto d-md-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger d-grid gap-2 col-6 mx-auto d-md-block">
                                <a style="text-decoration: none" th:href="@{/eliminar(idPersona=${persona.idPersona})}" class="text-white">
                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
